.FeedbackCard {
    border-bottom: 1px solid lightgrey;
    width: 90%;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}

.Test {
    border-bottom: 1px solid lightgrey;
    background-color: red;
    width: 90%;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}