.TextandFeedback {
    height: 550px;
    display: flex;
}

.TexttoSpeech {
    width: 65%;
    height: 75%;
    border-radius: 5px;
    overflow-y: auto;
    border: 1px solid lightgrey;
    padding: 1%;
}

.Feedback {
    width: 35%;
    height: 75%;
    margin-left: 15px;
    border-radius: 5px;
    overflow-y: auto;
    border: 1px solid lightgrey;
    padding: 1%;
}
  
.TextandFeedback:after {
    content: "";
    display: table;
    clear: both;
}
  
.HeaderText {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}