.CTA {
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.button {
    border: 1px solid black;
    text-align: center;
    width: 125px;
    margin-right: 15px;
}