.StatisticsBox {
    height: auto;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.StatisticsTitle {
    font-weight: 600;
    font-size: 16px;
}

.StatisticsData {
    font-weight: 600;
    font-size: 26px;
}