.StatisticsBox {
    height: 75px;
    width: 150px;
    margin-right: 25px;
    border-radius: 15px;
    border: 1px solid lightgrey;
}

.StatisticsTitle {
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 15px;
}

.StatisticsData {
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
    margin-left: 15px;
}